<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/materialize.css">
      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/home.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://use.fontawesome.com/444322e352.js"></script>
      {{ include google_analytics.html }}
      <title>{{ site.title }}</title>
      <link rel="shortcut icon" href="{{ site.base_url }}assets/images/headshot.jpg" type="image/x-icon" />
    </head>
    <body>

