.container {
  min-height: 20rem;
}

.parallax-container {
  height: 750px;
}

.experience li {
  margin-left: 2em;
}

.company-logo {
  height: 2em;
  margin-right: 1em;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills-logo {
  height: 2em;
  margin-right: 1em;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	font-size: 14px;
	color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
}
