{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col push-s7 center">
            <img src="{{site.headshot}}" alt="{{ site.title }}" class="circle headshot" />
            <h1 class="header center teal-text text-lighten-2">{{ site.title }}</h1>
            <h5 class="header col s12 light">{{ site.description }}</h5>
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="experience" class="section scrollspy">
    <h3 style="text-align:center;">Experience</h3>
    <ul class="collapsible popout experience" data-collapsible="accordion">
      {% include experiences.html %}
    </ul>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 2"></div>
</div>

<div class="container" style="padding:20px;">
  <div id="portfolio" class="section scrollspy">
    <h3 style="text-align:center;">Portfolio</h3>
    <div class="row">
      {% include projects.html %}
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_three}}" alt="Unsplashed background img 3"></div>
</div>

<div class="container" style="padding:20px;">
  <div id="skills" class="section scrollspy">
    <h3 style="text-align:center;">Skills</h3>
    <div class="skills-container">
      {% include skills.html %}
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/rock_climbing.jpg" alt="Unsplashed background img 4"></div>
</div>

<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
    <h3 style="text-align:center;">Blog</h3>
    {% include blog-feed.html %}
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_five}}" alt="Unsplashed background img 5"></div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
    <h3 style="text-align:center;">Contact</h3>
    {% include contact.html %}
  </div>
</div>


{% include nav-burger.html %}

{% include footer.html %}

